#menuContainer{
  z-index:10002;
  top:5px;
  left:5px;
  position:fixed;

  .innerContainer{
    float:left;
    z-index:200000;
    margin-right:4px;
    padding-right:4px;
    position:relative
  }
}

.mainMenu{
  .nuMenu{
    // float:left;
    display:inline-block;
  }
}



#pageMenu{
  left:400px;
}


.menuDiv{
  a{
    display:block;
  }
}


.menuButton{
  margin-right:10px;
}

.uiOpen{
  p{
    width:280px;
  }
  .textInput{

    display:block;
    width:100%;
    padding:3px 5px;
    // border-radius:8px;
    margin: 10px auto;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.25);
    outline:none;
    color:$textGrey;
    font-size:13px;
    -webkit-font-smoothing: antialiased;
    &.short{
      width:100px;
      display:inline;
    }

  }
  #editMediaContainer{

  }
  input[type='text'],input[type='submit']{
    display:block;
  }
}

.menuHover{
  padding-bottom:20px;
}

.editTabs{
  font-size:15px;
  // text-align:center;
}

.nuMenuContainer{
  position:fixed;
  top:60px;
  left:10px;
  @include transform(translateZ(10000px));
  z-index: 1000000;
    &.profile{
    top: 10px;
  }
}

.nuMenu{
  padding:10px;
  font-size:20px;
  color:white;
  width:40px;
  // background:rgba(0,255,50,1);
  text-align:center;
  margin:4px;
  border-radius: 4px;
  cursor:pointer;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  @include box-shadow(1px 1px 2px rgba(0,0,0,.25));
  @include transition(all .4s);
  &:hover{
    text-shadow: 0px 0px 1px rgba(0,0,0,.25);      
  }
  user-select: none;
  &.big{
    font-size:24px;
    border-radius:20px;
    width:50px;
  }
}

#likeIm{
  // float:left;
}
.likeHeart{
  width: 21px; 
  // margin-top: -2px; 
  // margin-left: 2px;
  margin:0 5px -6px 0px;
}
#likeButtonText{
  // float:left;
}
#likePageButton{
  div{
    // display:inline-block;
  }
  #pageName{
    width:100px;
  }
  z-index:10002;
  @include transform(translateZ(10000px));
  // top:10px;
  // left:120px;
  float:right;
  // margin:auto;
  display:inline-block;
  font-size:14px;
  // position:fixed;
  // background:white;
  padding:5px;
  border-radius:5px;
  position:relative;
  // min-width:100px;
}


.uploadForm{
  padding:10px 0;
  #uploadBtn{
    top:0px;
    width:100%;
    left:0px;
    height:100%;
    display:block;
    padding: 8px;
    display:block;
    border-radius:0px;
    position:absolute;
    opacity:0;
  }
  .progress{
    width:100%;
    height:8px;
    border-radius:4px;
    overflow:hidden;
    .progress-bar{
      background-color: rgb(0,255,0);
      height:100%;
      width:0%;
    }
  }
}

.colorpicker{
  z-index:999999999;
  @include transform(translateZ(10000px));
  background:white;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  border-radius:4px;
}
