
#rightMenu{
  position:fixed; 
  top:5px; 
  right:160px; 
  opacity:.8; 
  padding:0;
  .innerMenu{
    float:left;
    display:inline; 
    margin-right:10px; 
  }
  .menuText{
    display:inline-block;
    float:left;
    margin-right:4px
  } 
  .logInOut{
    float:left
  }
  .notifyBox{
    background-color: rgb(102, 204, 255);
    box-shadow: rgba(60, 60, 60, 0.6) 7.55px -2.45px 5.953176673004086px;
    -webkit-box-shadow: rgba(60, 60, 60, 0.6) 7.55px -2.45px 5.953176673004086px;
    padding: 3px 5px;
  }
}

#loginMenu{
  left:200px; 
  top:150px; 
  // width:160px;
}

#online{
  top:5px; 
  right:10px; 
  cursor:moveable
}

#chat{
  border: 1px solid;
  border-color:grey;
  @include transform(translateZ(10000px));
  z-index:10002;
  bottom:10px; 
  position:fixed; 
  right:10px; 
  width:auto; 
  height:auto; 
  padding:0
}

.chat{
  width: 150px;
  border: 0px solid;
  border-color:grey;
  -moz-border-radius: 1px;
  border-radius:1px;  
  padding:4px;
  overflow: auto;
  font-size: 12px;
  margin:0;
  z-index:10002;
  .chatUser{
    font-weight:bold;
  }
}

#chatBox{
  min-height: 50px;
  max-height: 150px;
  background-color: rgba(255,255,255,.7);
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color:grey;
  -moz-border-radius: 1px;
  border-radius:1px; 
  line-height:1.4em;
}
#inputBox{
  min-height: 0px;
  max-height: 200px;
  background-color: rgba(255,255,255,.7);
  border:none;
  margin:0;
  outline: none;
  resize: none;
}




