

////ADD/////

#addMenu.uiOpen(ng-show="addMenu" add-menu)
  .editTabs( ng-init="addType='image'")
    span.tab( ng-class="{active:addType=='image'}"  ng-click="addType='image'") Image 
    span.tab( ng-class="{active:addType=='text'}"  ng-click="addType='text'") Text 
    span.tab(ng-class="{active:addType=='media'}"  ng-click="addType='media'") Media 
    span.tab(ng-class="{active:addType=='div'}"  ng-click="addType='div'") Div
  
  #editImageContainer.menuContainer(ng-show="addType=='image'")
    br
    |ADD IMAGE
    .uploadForm(ng-controller="uploadCtrl")
        //- label(for='photos') Uploda your own file
        //- p.help-block Select pictures
        div.button( type='button' value="Upload File") Upload File
          input#uploadBtn.btn(type='file', ng-file-select='onFileSelect($files)', multiple='false')

        .container(ng-repeat='file in files')
          .progress
            .progress-bar(role='progressbar' style="width:{{file.progress}}%")
              //- | {{file.name}} : {{file.progress}}
          button.btn.btn-ttc(type='button', ng-click='abort($index)', ng-show='file.progress != 100') Abort



    p or enter image url:
    form(ng-submit="addNewImg()")
      input.textInput#gifUrlA(ng-model="newImgUrl" type='text',  placeholder='http://blahblah.gif')
    //- p repetitions:
    //- input.textInput#addNumber(ng-init="imageNumber=1" ng-model="imageNumber" type='text', name='addNumber', value='1', maxlength='1/',onfocus="value=''")
    p
    //- input.button( type='button', name='addGif', value='add', ng-click="addNewImg()")

  #editTextContainer.menuContainer(ng-show="addType=='text'")
    textarea#addContent(ckeditor="editorOptions" ng-model="text")
    input.button( type='button', name='addGif', value='add', ng-click="addNewImg()")

  #editMediaContainer.menuContainer(ng-show="addType=='media'")
    //- p
    //- | youtube link:
    //- br
    //- input.mediaAdd(ng-model="youtubeUrl" type='text', id='youtubeUrl', placeholder='http://youtube.com/xxxx',onfocus="typing=true; ", onblur="typing=false;")
    //- br
    //- br
    //- | vimeo link:
    //- br
    //- input.mediaAdd(ng-model="vimeoUrl" type='text', id='vimeoUrl', placeholder='http://vimeo.com/555555',onfocus="typing=true; ", onblur="typing=false;")
    //- br
    //- br
    //- | soundcloud embed:
    //- br
    //- textarea.mediaAdd(ng-model="soundcloudUrl" type='text', id='soundCloud', placeholder='paste soundcloud embed code here',onfocus="typing=true; ", onblur="typing=false;")
    //- br
    //- br
    //- | mp3/mov embed:
    //- br
    //- input.mediaAdd(ng-model="mp3Url"  type='text', id='mp3', placeholder='http://domain.com/sound.mp3',onfocus="typing=true; ", onblur="typing=false;")
    //- br
    //- br
    //- | other:
    //- br
    textarea.textInput#media(ng-model="media"  type='text', name='embed', placeholder='paste embed code here')
    br
    input.button( type='button', name='addGif', value='add', ng-click="addNewImg()")

  #editDivContainer.menuContainer(ng-show="addType=='div'")
    p
    | background color:
    br
    input.textInput(colorpicker="rgba"  ng-model="divColor"  type='text', placeholder='name, hex or rgba(r,g,b,a)')
    br
    | background image url:
    br
    input.textInput#divBgUrl(ng-model="divBackground" type='text', placeholder='http://blahblah.gif')
    br
    | preset: 
    form(name='divType')
      input(type='radio', ng-model='geoPreset', value='sPlane', checked='CHECKED')
      | flat div
      br
      input(type='radio', ng-model='geoPreset', value='hPlane')
      | ground plane
      br
      input(type='radio', ng-model='geoPreset', value='vPlane')
      | wall plane    
      br
    br
    input.button( type='button', name='addGif', value='add', ng-click="addNewImg()")
  
  //- input(type='checkbox', id='add2d' ng-model="is2d")
  //- |no 3d transforms? 
  .x(ng-click='$parent.addMenu=false') 





///////EDIT///////
#editMenu.uiOpen( edit-menu ng-show="$parent.editMenu")
  //- |EDIT:
  //- .editTabs(ng-init="image")
  //-     a(href="javascript:void(0)"  ng-click="editType = 'image'") Image | 
  //-     a(href="javascript:void(0)"  ng-click="editType = 'text'") Text | 
  //-     a(href="javascript:void(0)"  ng-click="editType = 'media'") Media | 
  //-     a(href="javascript:void(0)"  ng-click="editType = 'div'") Div
  
  #editImageContainer.menuContainer(ng-show="editType == 'image' || pageName=='profile'" )
    p edit image url:
    input.textInput#editImage.editType(ng-model="editElement.url" type='text', placeholder='http://blahblah.gif')
    input#keyOut.button(type='button', name='keyOut', value='Key-Out White', onclick="keyOut()")
    p (wait for url to refresh)
    p more img effects here: 
      br
      a(href="http://asdf.us/im/", target='blank') http://asdf.us/im/
    

  #editTextContainer.menuContainer(ng-show="editType == 'text' ")
    textarea#addContent(ckeditor="editorOptions" ng-model="editElement.text")
  

  #editMediaContainer.menuContainer(ng-show="editType == 'media'")
    p youtube, vimeo or soundcloud url or any other embed code
    //- youtube link:
    //- input.textInput.mediaEdit(ng-model="editElement.content" type='text', id='editYoutubeUrl', placeholder='http://youtube.com/xxxx',onfocus="typing=true; ", onblur="typing=false;")
    //- p
    //- | vimeo link:
    //- input.textInput.mediaEdit(ng-model="editElement.content" type='text', id='editVimeoUrl', placeholder='http://vimeo.com/555555',onfocus="typing=true; ", onblur="typing=false;")
    //- p
    //- | soundcloud link:
    //- input.textInput.mediaEdit(ng-model="editElement.content" type='text', id='editSoundCloud', placeholder='paste soundcloud link here',onfocus="typing=true; ", onblur="typing=false;")
    //- p
    //- | mp3/mov embed:
    //- input.textInput.mediaEdit(ng-model="editElement.content" type='text', id='editMp3', placeholder='http://domain.com/sound.mp3',onfocus="typing=true; ", onblur="typing=false;")
    //- p
    //- | other:
    //- br
    textarea.textInput.editType.mediaEdit(ng-model="editElement.content" type='text', name='embed', id="editMedia", placeholder='paste embed code here')
    p
  #editDivContainer.menuContainer(ng-show="editType == 'div'")
    p
    div background color:
    input.textInput#editBackgroundColor.editType( colorpicker="rgba" ng-model="editElement.backgroundColor" type='text', placeholder='name, hex or rgba(r,g,b,a)')
    p
    div background image url:
    input.textInput#editBackgroundImage.editType(ng-model="editElement.backgroundImage" type='text', placeholder='http://blahblah.gif')
    p
    div width:  
      input.textInput.short(ng-model="editElement.width" type='text')  
    div height: 
      input.textInput.short(ng-model="editElement.height" type='text') 
  
  //- input(type='checkbox', id='edit2d')
  //- |no 3d transforms? 
  div(style="padding:0px")
    input.button(type='button', name='replace', value='replace', ng-click="replaceElement()")
    
  .x(ng-click='$parent.$parent.editMenu=false')




////DELETE/////
#deleteMenu.uiOpen.menuContainer(ng-show="deleteMenu")
  form(name='f1')
    input(type='radio', name='deleteType', value='one', checked='CHECKED')
    | last image
    input(type='radio', name='deleteType', value='all')
    | all
    p
  | (shortcut: Ctrl X)
  input.textInput#delete.button(type='button', name='delete', value='delete', onclick="deleteImage()")
  .x(ng-click='$parent.deleteMenu=false')



//////////- BACKGROUND
#backgroundMenu.uiOpen.menuHover.menuContainer(ng-show="backgroundMenu")
  | backgroud color:
  input.textInput( colorpicker="rgb"  ng-model-options="{ debounce: 250 }" ng-model='pageData.background', placeholder='color, hex or rgb(0,0,255)', ng-change='setBackground({server:false})', ng-blur='setBackground({server:true})')
  //- input.textInput(type='color' ng-model-options="{ debounce: 250 }" ng-model='pageData.background', ng-change='setBackground("background")')

  | background image:
  .uploadForm(ng-controller="uploadCtrl")
    //- label(for='photos') Uploda your own file
    //- p.help-block Select pictures
    div.button( ng-init="uploadType = 'background'" type='button' value="Upload File") Upload File
      input#uploadBtn.btn(type='file', ng-file-select='onFileSelect($files)', multiple='false')

    .container(ng-repeat='file in files')
      .progress
        .progress-bar(role='progressbar' style="width:{{file.progress}}%")
          //- | {{file.name}} : {{file.progress}}
      button.btn.btn-ttc(type='button', ng-click='abort($index)', ng-show='file.progress != 100') Abort

  |or
  input.textInput(type='text' ng-model-options="{ debounce: 250 }" ng-model='pageData.backgroundImage', placeholder='enter url here', maxlength='600', ng-change='setBackground({server:true})')
  form(name='bgType')
      input(type='radio',  ng-model='pageData.bgDisplay', value='', ng-change='setBackground({server:true})')
      | tile
      input(type='radio', ng-model='pageData.bgDisplay', value='cover', ng-change='setBackground({server:true})')
      | full screen    
  //div
    //- a(href='http://gradients.glrzad.com', title='select the code inside ( ); for webkit') gradients.glrzad.com (hvr fr tip)
  .x(ng-click='$parent.backgroundMenu=false')







