span(save-scroll)

div.feed(page-data="pageData" feed infinite ng-controller="feedCtrl" )

div.pageList( gallery, infinite, ng-controller="galleryCtrl" )
    
div(ng-include="'partials/chat'")  
//- div(ng-include="'partials/left-menu'")  
