//- div(ng-controller="pageCtrl")
#div3d( touch-action="none")
  #mainDiv.mainDiv(page style="\
  -webkit-transform: {{mt | mainTransform}};\
  -moz-transform: {{mt | mainTransform}};\
  -0-transform: {{mt | mainTransform}};\
  transform: {{mt | mainTransform}};")
