div.galleryHeading pages 
  span sort by:  
  span.btn(ng-click="filter = 'created'")
    |created  
  span.btn(ng-click="filter = 'likes'")
    |likes  
  span.btn(ng-click="filter = 'updated'")
    |updated  
div
  //- div(masonry="{ transitionDuration: '800ms' }")
  //- .masonry-brick
  .pageItem(bindonce='page' ng-repeat="page in pagesData")
    div
        a(thumbnail freeze w="500" h="500" bo-href="'/'+page.pageName | encode")
          //- .thumbImg(bg-image bg="{{page.thumb}}")
          img.thumb
      div.infoDiv
        div.pageTitle
          a(bo-href="'/' + page.pageName | encode") 
            span( bo-text="page.pageName")
          

        div(bo-show="userProfile" bo-text="page.owner | owner:userProfile") 

        div
          span( bo-text="page.privacy | privacy")
          span( bo-text = "' ' + (page.versions.length+1)+'v'")

        a.miniButton(bo-click="who = !who; $emit('masonry.reload');")
          span(bo-text="page.likes.length")
          //- img.heartImg(src='https://s3.amazonaws.com/gifpumper/ui/heart-03.gif')
        div.whoLikes(bo-show="who")  
          div( bindonce='user' ng-repeat="user in page.likes")
            a(bo-href="'/profile/' + user | encode") 
              span(bo-text="user")